<div class="nested-fields">
  <h2>Parameters</h2>
  <div class="form-control">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-control">
    <%= f.label :param %>
    <%= f.text_field :param %>
  </div>
</div>

