$(".result").append("<p>値名: <%= j(@response[:name]) %> </p>");
$(".result").append("<p>送信値: <%= j(@response[:send_param]) %> </p>");
$(".result").append("<p>レスポンス<%= j(@response[:response]) %> </p>");
