var newTag =
        "<tr class='tr-new-results'> +" +
            "<td><%= j(@response[:name]) %></td>" +
            "<td><%= j(@response[:send_param]) %></td>" +
            "<td><%= j(@response[:response]) %></td>" +
        "</tr>";
$(".current-result").prepend(newTag);
$(".all-result").prepend(newTag);