<% if @response.present? %>
var newTag =
        "<tr class='tr-new-results'> +" +
            "<td><%= j(@response[:name]) %></td>" +
            "<td><%= j(@response[:send_param]) %></td>" +
            "<td><%= j(@response[:response]) %></td>" +
        "</tr>";
$(".current-result").prepend(newTag);
$(".all-result").prepend(newTag);
<% else %>
$(".send-url").remove();
var urlInfo = "<p class='send-url'><%= @send_url %><p>";
$("#results").prepend(urlInfo);
<% end %>